.sidebar{
    width: 20vw;
    min-height: 100vh;
    height: 100%;
    padding: 2rem 2rem;

    position: absolute;
    top: 0;
    left: 0;

    background: $bv-white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .04), 0 3px 3px rgba(0, 0, 0, .03), 0 2px 2px rgba(0, 0, 0, .02);

    &_logo{
        width: 45%;
        margin-bottom: 2rem;

        img{
            &:last-child{
                display: none;
            }
        }

    }

    .toggle_sidebar{
        display: none;
    }

    &_menu{
        .menu_sec_title{
            display: block;
            padding: .5rem 0;
            font-size: .875rem;
            color: $bv-primary-01;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .menu_item{
            width: 100%;
            position: relative;
            padding: .875rem 1rem;
            border-radius: 8px;

            font-size: 1.125rem;
            font-weight: 500;
            color: $bv-primary-01;
            a{
                width: 100%;
                display: flex;
                align-items: center;
                gap: .5rem;
            }

            .submenu{
                display: none;

                width: 100%;
                background-color: $bv-primary-02;
                padding-top: .875rem;
                padding-left: .5rem;
                .menu_item{
                    color: $bv-white;
                    padding: .375rem 0;
                    font-size: 1rem;

                    a{
                        &::after{
                            display: none;
                        }
                    }
                }
            }

            &:hover{
                background-color: $bv-primary-02;
                color: $bv-white;

                &:has(.submenu){
                    a{
                        &::after{
                            background-color: $bv-white;
                            transform: rotate(180deg);
                        }
                    }
                }

                .submenu{
                    display: block;
                }
            }


            &:has(.submenu){
                a{
                    &::after{
                        width: 24px;
                        height: 24px;

                        display: inline-block;
                        position: absolute;
                        right: 4px;

                        content: '';
                        -webkit-mask: url('../../assets/icons/angle-down.svg') no-repeat 50% 50%;
                        mask: url('../../assets/icons/angle-down.svg') no-repeat 50% 50%;
                        -webkit-mask-size: cover;
                        mask-size: cover;

                        background-color: $bv-primary-01;
                    }

                    &:hover{
                        color: $bv-gray-01;
                    }
                }
            }
        }
        .menu_item_active{
            background-color: $bv-primary-02;
            color: $bv-white;
            
            &:has(.submenu){
                a{
                    &::after{
                        background-color: $bv-white;
                        transform: rotate(180deg);
                    }
                }
            }

            .submenu{
                display: block;
            }
        }
    }

    @media screen and (max-width: 767px) {
        width: 35vw;
        transition: width ease-in-out .5s;
        &_logo{
            width: 48px;

            img{
                &:first-child{
                    display: none;
                }

                &:last-child{
                    display: block;
                }
            }
        }

        .toggle_sidebar{
            font-size: 32px;
            color: $bv-primary-01;
            display: block;
            position: absolute;
            right: 8px;
            top: 18px;
        }

        &_menu{
            .menu_item{
                a{
                    width: auto;
                    span{
                        display: none;
                    }
                }
            }
        }

        &:global{
            &.active{
                width: 100vw;

                figure{
                    width: 148px;
                    img{
                        &:first-child{
                            display: block;
                        }
        
                        &:last-child{
                            display: none;
                        }
                    }
                }

                .menu_item{
                    a{
                        width: 75%;
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}